{% extends 'generic.html' %}
{% load static %}
{% block title %}
    <title>Voter</title>
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">
        <form action="{% url 'login' %}" method="post" class="w-25">
            {% csrf_token %}
            <div class="form-group form-outline mb-4">
                <label for="login-input">Login</label>
                <input class="form-control" id="login-input" aria-describedby="loginHelp" name="login"
                       placeholder="Enter login">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary mt-1">Login</button>
        </form>
    </div>
    <script src="{% static 'scripts/voter.js' %}"></script>

{% endblock %}
