{% extends 'generic.html' %}
{% load static %}
{% block title %}
    <title>Registrator</title>
{% endblock %}

{% block body %}

    <div class="mx-4  d-flex justify-content-center">
        <div class="w-50">
            <div class="d-flex justify-content-between">
                <h5>Voters list: </h5>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Public key</th>
                </tr>
                </thead>
                <tbody>
                {% for voter in voters %}
                    <tr>
                        <th scope="row">{{ voter.id }}</th>
                        <td>{{ voter.username }}</td>
                        <td>{{ voter.public_key }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <div>
                <h5>Registrator keys:</h5>
                <button class="btn btn-primary mt-1" id="generate-keys-button">Generate</button>
                <div {% if public_key is None %} hidden {% endif %} id="keys-div">
                    <p>Public key:</p>
                    <p id="public-key">{{ public_key }}</p>
                    <p>Private key:</p>
                    <p id="private-key">{{ private_key }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="module" src="{% static 'scripts/registrator.js' %}"></script>
{% endblock %}