{% extends 'generic.html' %}
{% load static %}
{% block title %}
    <title>Voter</title>
{% endblock %}

{% block body %}
    <div class="mx-4  d-flex justify-content-center">
        <div class="w-50">
            <div>
                <h5>Voter keys:</h5>
                <button class="btn btn-primary mt-1" id="generate-keys-button">Generate</button>
                <div {% if public_key is None %} hidden {% endif %} id="keys-div">
                    <p>Public key:</p>
                    <p id="public-key">{{ public_key }}</p>
                    <p>Private key:</p>
                    <p id="private-key">{{ private_key }}</p>
                </div>
            </div>
            <hr>
            <div>
                <h5>Get public key from CA</h5>
                <button class="btn btn-primary mt-1" id="get-keys-from-ca-button">Get key</button>
                <div {% if public_ca_key is None %} hidden {% endif %}id="ca-keys-div">
                    <p>Public CA key:</p>
                    <p id="public-ca-key">{{ public_ca_key }}</p>
                </div>
            </div>
            <hr>
            <div>
                <h4>Voting</h4>
                <div class="form-check">
                    <input class="form-check-input voter-choice-radio" type="radio" name="flexRadioDefault" id="flexRadioDefault1" data-candidate-id="1" {% if vote == '1' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Candidate №1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input voter-choice-radio" type="radio" name="flexRadioDefault" id="flexRadioDefault2" data-candidate-id="2" {% if vote == '2' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Candidate №2
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input voter-choice-radio" type="radio" name="flexRadioDefault" id="flexRadioDefault3" data-candidate-id="3" {% if vote == '3' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault3">
                        Candidate №3
                    </label>
                </div>
            </div>
            <hr>
            <div>
                <button class="btn btn-primary mt-1" id="get-secret-key">Get secret key</button>
                <div {% if secret_key is None %} hidden {% endif %}id="secret-key-div">
                    <p>Secret voter key:</p>
                    <p id="secret-key">{{ secret_key }}</p>
                </div>
            </div>
            <hr>
            <div>
                <button class="btn btn-primary mt-1" id="encrypt-ballot-button" data-bs-toggle="tooltip" data-bs-placement="top" title="You cant regenerate secret key after encryption">Encrypt ballot</button>
                <div {% if encrypted_ballot is None %} hidden {% endif %}id="encrypted-ballot-div">
                    <p>Encrypted ballot:</p>
                    <p id="encrypted-ballot">{{ encrypted_ballot }}</p>
                </div>
            </div>
            <hr>
            <div>
                <button class="btn btn-primary mt-1" id="blind-sign-button">Blind sign ballot</button>
                <div {% if blind_signed_ballot is None %} hidden {% endif %}id="blind-signed-ballot-div">
                    <p>Blind signed ballot:</p>
                    <p id="blind-signed-ballot">{{ blind_signed_ballot }}</p>
                </div>
            </div>
            <hr>
            <div>
                <button class="btn btn-primary mt-1" id="sign-blind-sign-button">Sign blind signed ballot</button>
                <div {% if signed_blind_signed_ballot is None %} hidden {% endif %}id="signed-blind-signed-ballot-div">
                    <p>Signed blind signed ballot:</p>
                    <p id="signed-blind-signed-ballot">{{ signed_blind_signed_ballot }}</p>
                </div>
            </div>
        </div>

    </div>
    <script type="module" src="{% static 'scripts/voter.js' %}"></script>

{% endblock %}
